<div class="logo">
    <img src="./logo.jpg" alt="logo" width="200" height="100">
  
  </div>
<form class="example-form">
   
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Blog title</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Blog body</mat-label>
        <textarea matInput placeholder=" "> </textarea>
      </mat-form-field>
    </p>
  
  </form>
  
